body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: #555555
}

a {
    text-decoration: none;
    color: aliceblue;
}

.container {
    max-width: 70%;
    padding: 0 5%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 5%;
    background: rgba(28, 28, 28, 0.2);
}

.header-content {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 0;
    color: aliceblue;
}

main {
    display: flex;
    align-items: center;
    height: 85%;
}

.slider {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow: hidden;
}

.photos {
    display: flex;
    width: 400%;
    height: 100%;
}

.photo {
    width: 25%;
    transition: all 1s;
}

input {
    position: absolute;
    visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.slider-content {
    display: flex;
    justify-content: space-between;
}

.signatures {
    display: flex;
    flex-direction: column;
    height: 140px;
    overflow: hidden;
}

.signature {
    color: aliceblue;
    transition: all 1s;
}

p {
    height: 140px;
    color: aliceblue;
    margin: 0;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 10px solid #555555;
    border-radius: 50%;
    background: #4e83ff;
    cursor: pointer;
}

.nav-element:hover {
    background: #94b4ff;
}

.nav-element_mark1,
.nav-element_mark2,
.nav-element_mark3,
.nav-element_mark4 {
    width: 20px;
    height: 20px;
    transition: all 0.5s;
}

.footer {
    display: flex;
    align-items: center;
    height: 5%;
    background: rgba(28, 28, 28, 0.2);
}

.footer-content {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .slider-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .nav {
        margin: 30px 0;
    }
}

@media (max-width: 500px) {
    .nav-element {
        width: 25px;
        height: 25px;
    }

    .nav-element_mark1,
    .nav-element_mark2,
    .nav-element_mark3,
    .nav-element_mark4 {
        width: 5px;
        height: 5px;
    }
}

#radio1:checked~.photos .photo1 {
    margin-left: 0%;
}

#radio2:checked~.photos .photo1 {
    margin-left: -25%;
}

#radio3:checked~.photos .photo1 {
    margin-left: -50%;
}

#radio4:checked~.photos .photo1 {
    margin-left: -75%;
}

#radio1:checked~.slider-content .signatures .signature1 {
    margin-top: 0%;
}

#radio2:checked~.slider-content .signatures .signature1 {
    margin-top: -140px;
}

#radio3:checked~.slider-content .signatures .signature1 {
    margin-top: -280px;
}

#radio4:checked~.slider-content .signatures .signature1 {
    margin-top: -420px;
}

#radio1:checked~.slider-content .nav .nav-element .nav-element_mark1 {
    border-radius: 50%;
    background: #555555;
}

#radio1:checked~.slider-content .nav .nav-element .nav-element_mark1 {
    border-radius: 50%;
    background: #555555;
}

#radio2:checked~.slider-content .nav .nav-element .nav-element_mark2 {
    border-radius: 50%;
    background: #555555;
}

#radio3:checked~.slider-content .nav .nav-element .nav-element_mark3 {
    border-radius: 50%;
    background: #555555;
}

#radio4:checked~.slider-content .nav .nav-element .nav-element_mark4 {
    border-radius: 50%;
    background: #555555;
}